<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <h3>Enter info for new car</h3>
        <form class="" action="index.html" method="post">
            <label for="">Make <select>
              <option value="gaz">GAZ</option>
              <option value="lada">Lada</option>
              <option value="dacia">Dacia</option>
              <option value="wartburg">Wartburg</option>
            </select></label>
            <label for="">Transmission<input type="radio" name="type" value="manual" checked> manual
              <input type="radio" name="type" value="automatic"> automatic</label>
            <input type="button" name="name" value="submit">
        </form>
    </body>
</html>
